@use "../../scss/base/variables" as *;

.products {
  &__hero {
    font-size: 2.5rem;
    text-transform: capitalize;
  }
  .text {
    color: $whitish;
    font-weight: 500;
  }
  .content {
    margin-top: $space-ultra;

    &__description {
      margin: $space-large 0;
      padding-top: $space-medium;
    }
  }
}
