@use "./variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 1rem;
}
body {
  width: 100%;
  font-family: $openSans;
  scroll-behavior: smooth;
  line-height: 1.7;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 85%;
  max-width: 1128px;
  margin: 0 auto;
}
.wrapper {
  margin: $space-ultra 0 $space-large;
}
.row {
  display: flex;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
}
