@use "./variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 1rem;
}
body {
  width: 100%;
  font-family: $openSans;
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 90%;
  max-width: 1128px;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
}
