// Font
$openSans: "Open Sans", sans-serif;

// Colors
$dark: #444a5a;
$light: #ececec;
$green: #6acc00;
$whitish: #f8f8f8;
$black: #011801;

// Header height
$headerHeight: 60px;

// Spacing
$space-small: 0.5rem;
$space-medium: 1rem;
$space-large: 1.5rem;
$space-large: 2rem;
$space-ultra: 4rem;
