// FONT
$openSans: "Open Sans", sans-serif;

// COLORS
$dark: #444a5a;
$light: #ececec;
$green: #6acc00;
$whitish: #f8f8f8;
$black: #011801;
$warning: #ff0000;

// HEADER HEIGHT
$headerHeight: 60px;

// SPACING
$space-small: 0.5rem;
$space-medium: 1rem;
$space-large: 1.5rem;
$space-large: 2rem;
$space-ultra: 4rem;

// TYPOGRAPHY
$border-radius: 4px;
