@use "../../scss/base/variables" as *;

.navigation {
  height: $headerHeight;
  background-color: $dark;
  position: fixed;
  width: 100%;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
  z-index: 10;
  .content {
    align-items: center;
    height: $headerHeight;
  }
  .logo {
    display: flex;
    margin-left: 0.5rem;
    color: $green;

    &-text {
      display: none;
      position: absolute;
    }
    &-icon {
      color: $green;
      font-size: 1.7rem;
    }
  }
}
.navbar {
  height: 2rem;
  margin: 1.19rem 0.5rem 1rem auto;
  padding-bottom: 0.7em;

  &__list {
    align-items: center;
    gap: 0.5em;
    height: 100%;

    &__item {
      font-size: 0.7rem;
    }
  }

  &__link {
    color: $light;
    text-transform: uppercase;

    &.active,
    &:hover {
      border-bottom: 2px solid rgba($green, 0.8);
    }
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.3em 0;
  color: $light;
  background-color: $dark;

  .copyright {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
    font-size: 0.9rem;
  }
  .disclaimer {
    max-width: 310px;
    margin: 0 auto;
    font-size: 0.7rem;
  }
}
