@use "../../scss/base/variables" as *;

.category {
  color: $dark;

  &__text {
    padding: $space-large;
  }
  &__image {
    object-fit: cover;
    width: 100%;
    overflow: hidden;
  }
  &__name {
    margin-bottom: $space-medium;
    text-transform: capitalize;
  }
  &__description {
    margin-bottom: $space-medium;
  }
  .btn-text {
    &:link,
    &:visited {
      color: $green;
      border-bottom: 1px solid $green;
      padding: 0.188em;
      transition: all 0.2s;
    }
    &:hover {
      background-color: $green;
      color: $whitish;
      box-shadow: 0 1rem 2rem rgba($black, 0.15);
      transform: translateY(-2px);
    }
    &:active {
      box-shadow: 0 0.5rem 1rem rgba($black, 0.15);
      transform: translateY(0);
    }
  }

  @media (min-width: 37.5rem) {
    display: flex;
    align-items: center;

    &__image,
    &__text {
      width: 50%;
    }
    &__text {
      display: grid;
      align-self: center;
      justify-self: center;
    }
    .center {
      margin: 0 auto;
      max-width: 430px;
    }
    &:nth-child(even) {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}
