@use "../../scss/base/variables" as *;

.category {
  padding: $space-large 0;
  color: $dark;

  &__image {
    margin-bottom: $space-large;
  }
  &__name {
    margin-bottom: $space-medium;
    text-transform: capitalize;
  }
  &__description {
    margin-bottom: $space-medium;
  }
  .btn-text {
    &:link,
    &:visited {
      color: $green;
      border-bottom: 1px solid $green;
      padding: 0.188em;
      transition: all 0.2s;
    }
    &:hover {
      background-color: $green;
      color: $whitish;
      box-shadow: 0 1rem 2rem rgba($black, 0.15);
      transform: translateY(-2px);
    }
    &:active {
      box-shadow: 0 0.5rem 1rem rgba($black, 0.15);
      transform: translateY(0);
    }
  }
}
