@use "../../scss/base/variables" as *;

.product {
  padding: $space-large 0;

  &__text {
    color: $dark;
  }
  &__image {
    margin-bottom: $space-small;
    img {
      box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.05);
    }
  }
  &__name {
    margin-bottom: $space-small;
  }

  &:hover {
    opacity: 0.8;
  }
  @media (min-width: 37.5rem) {
    padding: 0;

    &__card {
      display: flex;
      align-items: center;
    }

    &__image {
      width: 30%;
    }
    &__text {
      width: 70%;
    }
    &__text {
      display: grid;
      align-self: center;
      justify-self: center;
      padding: $space-large;
    }
  }
}
