@use "../../scss/base/variables" as *;

.product {
  padding: $space-large 0;

  &__text {
    color: $dark;
  }
  &__image {
    margin-bottom: $space-small;
  }
  &__name {
    margin-bottom: $space-small;
  }

  &:hover {
    opacity: 0.8;
  }
}
